@import "tailwindcss";

@theme {
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
